<!-- <app-default-layout>
  <ion-content color="red"></ion-content>
</app-default-layout> -->

<app-main-menu></app-main-menu>

<ion-content id="main-content">
  <ion-header>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <ion-img src="https://i.pinimg.com/originals/d8/d7/46/d8d7463262260d45d82834cfe6b3daf5.jpg" alt="Character avatar image"></ion-img>
          </ion-thumbnail>
        </ion-col>
  
        <ion-col>
          <ion-button>
            HP
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
</ion-content>

<app-tab-bar></app-tab-bar>
