.overview-header {
    display: flex;
    flex-direction: column;

    ion-label {
        font-size: .8rem;
    }
}


.table-theme {
    text-transform: capitalize;
    margin-top: 1rem;
    padding: 0;
    
    
    .table-header {
        font-size: 8.75rem!important;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--ion-color-primary);
    }
    
    
    &.info-block {
        ion-row.info-block-row {
            ion-col.info-block-title {
                text-align: start;
            }
            
            ion-col.info-block-text {
                text-align: start;
            }
        }
        
    }

    ion-row {
        margin-bottom: .5rem;
        &:nth-child(even) {
            background-color: var(--ion-color-light);
        }


        ion-col {
            padding: 0;
            text-align: center;
            font-size: .8rem;
    
            &:first-child {
                text-align: start;
            }

            &:last-child {
                text-align: end;
            }

            ion-button {
                width: 65%;
                font-size: .8rem;
                margin: 0;
            }
        }
    }

}

ion-grid {
    padding: 0 2rem;
    margin: 1rem 0;
    

    ion-segment-button {
        font-size: .75rem;
    }
}