<app-main-menu></app-main-menu>

<app-character-bar></app-character-bar>

<ion-content id="main-content">
  <ion-grid>
      <ion-row class="overview-header">
          <app-title
            [title]="character.name"
          ></app-title>
          <ion-label>
            Level {{ character.level }} {{ character.race }} {{ character.class }}
          </ion-label>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-segment value="abilities" (ionChange)="onSubjectChange($event)">
                  <ion-segment-button value="abilities">
                    <ion-label>Abilities</ion-label>
                  </ion-segment-button>
                  
                  <ion-segment-button value="skills">
                    <ion-label>Skills</ion-label>
                  </ion-segment-button>

                  <ion-segment-button value="proficiencies">
                    <ion-label>Proficiencies</ion-label>
                  </ion-segment-button>
                </ion-segment>
          </ion-col>
      </ion-row>
      
      <div *ngIf="subject === 'abilities'">
        <ion-row>
          <ion-col>
            <ion-spinner 
              color="primary" 
              name="circles" 
              *ngIf="characterAbilitiesLoading$ | async"
            ></ion-spinner>
            
            <ion-grid class="table-theme" *ngIf="(abilities$ | async) as abilities">

              <ion-row class="table-header ion-align-items-center">
                <ion-col size="4"> Attribute </ion-col>
                
                <ion-col size="3"> Score </ion-col>
                
                <ion-col size="2"> Mod </ion-col>
                
                <ion-col size="3"> Save </ion-col>
              </ion-row>
              
              <ion-row *ngFor="let ability of abilities" class="ion-align-items-center">
              <ion-col size="4">{{ ability?.full_name }}</ion-col>
              
              <ion-col size="3">
                <app-passive-stat
                [score]="character.abilities[ability.index]"
                ></app-passive-stat>
              </ion-col>
              
              <ion-col size="2">
                <app-passive-stat
                [score]="calcMod(character.abilities[ability.index])"
              ></app-passive-stat>
              </ion-col>
              
              <ion-col size="3">
                <ion-button
                  (click)="onClickDiceRoll($event)"
                >
                    {{ calcSavingThrow(ability.index) }}
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-grid class="table-theme">
            <ion-row class="table-header ion-align-items-center">
              <ion-col size="10"> Senses </ion-col>
              
              <ion-col size="2"> Score </ion-col>
              
            </ion-row>
            
            <ion-row *ngFor="let sense of senses" class="ion-align-items-center table-row">
              <ion-col size="10">{{ sense?.name }}</ion-col>
              
              <ion-col size="2">
                <ion-button
                (click)="onClickDiceRoll($event)"
              >
                {{ sense.score }}
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="subject === 'skills'">
        <ion-row>
          <ion-col>
            <ion-spinner 
              color="primary" 
              name="circles" 
              *ngIf="characterSkillsLoading$ | async"
            ></ion-spinner>
            
            <ion-grid class="table-theme"  *ngIf="(skills$ | async) as skills">

              <ion-row class="table-header ion-align-items-center">
                <ion-col size="4"> Skill </ion-col>
                
                <ion-col size="3"> Mod </ion-col>
                
                <ion-col size="2"> Prof </ion-col>
                
                <ion-col size="3"> Bonus </ion-col>
              </ion-row>
              
              <ion-row *ngFor="let skill of skills" class="ion-align-items-center">
              <ion-col size="4">{{ skill.name}}</ion-col>
              
              <ion-col size="3">
                <app-passive-stat
                [score]="calcMod(character.abilities[skill.ability_score.index])"
                ></app-passive-stat>
              </ion-col>
              
              <ion-col size="2">
                <ion-icon 
                  [name]="checkSkillProficiency(skill.index)? 'radio-button-on' : 'radio-button-off'" 
                  color="primary"
                  ></ion-icon>
              </ion-col>
              
              <ion-col size="3">
                <ion-button
                  (click)="onClickDiceRoll($event)"
                >
                    {{ calcSkillCheckBonus(skill) }}                    
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="subject === 'proficiencies'">
      <ion-spinner 
        color="primary" 
        name="circles" 
        *ngIf="characterProficienciesLoading$ | async"
      ></ion-spinner>
      <ion-list *ngIf="(characterProficiencies$ | async) as proficiencies">
        <ion-item
          *ngFor="let proficiency of proficiencies"
        >
        <ion-label>
          {{ proficiency.name }}
        </ion-label>
      </ion-item>
      </ion-list>
    </div>
    </ion-grid>
</ion-content>
