<app-main-menu></app-main-menu>

<app-character-bar></app-character-bar>

<ion-content id="main-content">
  <ion-grid>
      <ion-row class="overview-header">
          <app-title
            [title]="character.name"
          ></app-title>
          <ion-label>
            Level {{ character.level }} {{ character.race }} {{ character.class }}
          </ion-label>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-segment value="abilities" (ionChange)="onChange($event)">
                  <ion-segment-button value="abilities">
                    <ion-label>Abilities</ion-label>
                  </ion-segment-button>
                  
                  <ion-segment-button value="skills">
                    <ion-label>Skills</ion-label>
                  </ion-segment-button>

                  <ion-segment-button value="proficiencies">
                    <ion-label>Proficiencies</ion-label>
                  </ion-segment-button>
                </ion-segment>
          </ion-col>
      </ion-row>
      
      <div *ngIf="subject === 'abilities'">
        <ion-row>
          <ion-col>
            <ion-grid class="table-theme">
              <ion-row class="table-header ion-align-items-center">
                <ion-col size="4"> Attribute </ion-col>
                
                <ion-col size="3"> Score </ion-col>
                
                <ion-col size="2"> Mod </ion-col>
                
                <ion-col size="3"> Save </ion-col>
              </ion-row>
              
              <ion-row *ngFor="let ability of abilities" class="ion-align-items-center">
              <ion-col size="4">{{ ability?.name }}</ion-col>
              
              <ion-col size="3">
                <app-passive-stat
                [score]="character.abilities[ability.index]"
                ></app-passive-stat>
              </ion-col>
              
              <ion-col size="2">
                <app-passive-stat
                [score]="calcMod(character.abilities[ability.index])"
              ></app-passive-stat>
              </ion-col>
              
              <ion-col size="3">
                <ion-button>
                    {{ calcSavingThrow(ability.index) }}
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-grid class="table-theme">
            <ion-row class="table-header ion-align-items-center">
              <ion-col size="10"> Senses </ion-col>
              
              <ion-col size="2"> Score </ion-col>
              
            </ion-row>
            
            <ion-row *ngFor="let sense of senses" class="ion-align-items-center table-row">
              <ion-col size="10">{{ sense?.name }}</ion-col>
              
              <ion-col size="2">
                <app-passive-stat
                [score]="sense.score"
                ></app-passive-stat>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="subject === 'skills'">
        <ion-row>
          <ion-col>
            <ion-grid class="table-theme"  *ngIf="(skills$ | async) as skills">
              <ion-row class="table-header ion-align-items-center">
                <ion-col size="4"> Skill </ion-col>
                
                <ion-col size="3"> Mod </ion-col>
                
                <ion-col size="2"> Prof </ion-col>
                
                <ion-col size="3"> Bonus </ion-col>
              </ion-row>
              
              <ion-row *ngFor="let skill of skills" class="ion-align-items-center">
              <ion-col size="4">{{ skill.name}}</ion-col>
              
              <ion-col size="3">
                <app-passive-stat
                [score]="calcMod(character.abilities[skill.ability_score.index])"
                ></app-passive-stat>
              </ion-col>
              
              <ion-col size="2">
                <ion-icon 
                  [name]="checkSkillProficiency(skill.index)? 'radio-button-on' : 'radio-button-off'" 
                  color="primary"
                  ></ion-icon>
              </ion-col>
              
              <ion-col size="3">
                <ion-button
                >
                    {{ calcSkillPRoficiency(skill) }}                    
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>
    </ion-grid>
</ion-content>
