<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="character">
      <ion-label>Character</ion-label>
    
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="actions">
      <ion-label>Actions</ion-label>
    
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="spells">
      <ion-label>Spells</ion-label>
    
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="inventory">
      <ion-label>Inventory</ion-label>
    
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


