<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">

      <ion-img
      src="../../../assets/images/torchlight-logo.svg"
      ></ion-img>
      
      <ion-title>Login</ion-title>

        <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                
                <ion-input
                  type="email"
                  ngModel
                  name="email"
                  placeholder="john@doe.com"
                  required
                  inputmode="email"
                  formControlName="email"
                ></ion-input>

                <app-error-message 
                  [control]="loginForm.controls.email"
                ></app-error-message>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                
                <ion-input
                  type="password"
                  ngModel
                  name="password"
                  placeholder="password"
                  required
                  inputmode="password"
                  formControlName="password"
                ></ion-input>

                <app-error-message 
                  [control]="loginForm.controls.password"
                ></app-error-message>
              </ion-item>
              
              <ion-item lines="none">
                <app-button
                  title="Cancel"
                  (click)="navigateBack()"
                  color="tertiary"
                ></app-button>

                <app-button 
                  title="Login"
                  type="submit"
                ></app-button>
              </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
