<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">

      <ion-img
      src="../../../assets/images/torchlight-logo.svg"
      ></ion-img>
      
      <ion-title>Register</ion-title>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-list>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                
                <ion-input
                  type="email"
                  ngModel
                  name="email"
                  placeholder="john@doe.com"
                  required
                  inputmode="email"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                
                <ion-input
                  type="password"
                  ngModel
                  name="password"
                  placeholder="password"
                  required
                  inputmode="password"
                ></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="stacked">Repeat password</ion-label>
                
                <ion-input
                  type="password"
                  ngModel
                  name="repeatPassword"
                  placeholder="repeat password"
                  required
                  inputmode="password"
                ></ion-input>
              </ion-item>
              
              <ion-item lines="none">
                <app-button 
                  title="Register"
                  type="submit"
                ></app-button>
              </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>